.app-button {
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: var(--accent);
  color: var(--accent-foreground);
  box-shadow: 4px 4px 0 0 var(--primary);
  transition: 0.2s;
  vertical-align: middle;

  &:hover,
  &:focus {
    box-shadow: 6px 6px 0 0 var(--primary);
    transform: scale(1.05);
  }

  &:active:focus {
    background: var(--primary);
    box-shadow: 2px 2px 0 0 var(--primary);
  }
}
